@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34; 
  --background-start-rgb: 50, 54, 57;
  --background-end-rgb: 80, 80, 80; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.marginRightHeader{
  padding-right: 20%;
}
.marginLeftHeader{
  padding-left: 20%;
}
body::-webkit-scrollbar {
  display: none;
}
.delscorl{
  overflow: hidden;
}
body {
  position: relative;

  
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Roboto", sans-serif;
}
